# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# VS / IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Copilot / Index / DB cache
**/CopilotIndices/
**/*.db
**/*.sqlite
**/*.sqlite3

# Node build
dist/
node_modules/
publish/
*.rar
*.code-workspace
TunnelBackend/Features.zip
